.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.create-career {
  padding: 2rem 0;
}

.create-career form {
  background: var(--background-primary-color);
  border: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 2rem;
}

.create-career form label {
  color: var(--primary-color);
  font-weight: bold;
  margin: 0 0 1rem;
}

.create-career form .input {
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.create-career form .text {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.button__disabled {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

@media (min-width: 992px) {
  .container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 50%;
  }
}
